.barra{
	background-color: black;
	
}

.dropdown-item{
	color: blue;
	
}

.nav-item{
	color: white;
	
}

.nav-link{
	color: white;
	
}

.tabela{
	background-color: orange;
	color: white;
	
}
    
table{
	background-color: brown;
	color: black;

}

td{
	padding-top: 90px;
	
}

.teste{
	color: black;
	
}

.oi{
	text-align: center;
	
}

.tt{
	color: blue;
	background: white;
	
}

.tr{
	font-size: 20px;
	
}

.tb{
	color: black;
	
}

